{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}EduPlatform{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    {% block extra_css %}{% endblock %}

</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">EduPlatform</div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'courses' %}">Courses</a></li>
                <li><a href="{% url 'about' %}">About</a>
                    <ul>
                        <li><a href="#">HSC ICT</a></li>
                        <li><a href="#">Automation</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" style="background:none; border:none; color:white; cursor:pointer;">
                            Logout
                        </button>
                    </form>
                </li>
                <li>Hi, {{ user.username }}!</li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>


    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 EduPlatform. All rights reserved.</p>
    </footer>
</body>

</html>